<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
	<h1>Add product</h1>
	<div>
		<form th:object="${product}" th:action="@{save}" action="#" method="post">
			<table>
				<tr>
				  	<td><label for="name">Name</label>
					<input type="text" id="name" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
					
				</tr>
				<tr>
				  	<td><label for="description">Description</label>
					<input type="text" id="descrpition" th:field="*{description}" /></td>
					<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</td>
					
				</tr>
				<tr>
				  	<td><label for="price">Price</label>
					<input type="text" th:field="*{price}" /></td>
					
				</tr>
				<tr>
					<td><label for="categorylist">Category</label>
					 <select id="categorylist" th:field="*{category}" class="form-control">
		       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
		    		</select></td>
				</tr>
			</table>
			<input type="submit" value="Save"></input>
		</form>
		<a href="/productlist" class="btn btn-success">Back</a>
	</div>
</body>
</html>