<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>All orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
	<div class="col-md-4">
		<h1>All orders</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		 	<th>Order id</th>
		 	<th>Customer</th>
		    <th>Product name</th>
		    <th>Unit price</th>
		    <th>Quantity</th>
		    <th>Total price</th>
		     <th>Date of order</th>
		</tr>  
    	<tr th:each = "orderitem : ${orderitems}">
    		<td th:text="${orderitem.orderItemId} ">Order id</td>
    		<td th:text="${orderitem.user.username}">Customer</td>
    		<td th:text="${orderitem.product.name}">Product name</td>
    		<td th:text="${orderitem.product.price}">Unit price</td>
    		<td th:text="${orderitem.quantity} ">Quantity</td>
    		<td th:text="${orderitem.quantity*orderitem.product.price} ">Total price</td>
    		<td th:text="${orderitem.startDay}">Date</td>
    	</tr>
     </table>
     <a href="/productlist" class="btn btn-primary">Products</a>
	 <a href="/categorylist" class="btn btn-primary">Categories</a>
	 <a sec:authorize="hasAuthority('ADMIN')" href="/userlist" class="btn btn-primary">Users</a>
</body>
</html>