<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
</head>
<body>
	<h1>Register</h1>
	<div>
		<form th:object="${users}" th:action="@{saveuser}" action="#" method="post">
			<table>
				<tr>
				  	<td><label for="username">Username</label>
					<input type="text" id="username" th:field="*{username}" /></td>
					<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</td>
					
				</tr>
				<tr>
				  	<td><label for="passwordHash">PasswordHash</label>
					<input type="text" id="passwordHash" th:field="*{passwordHash}" /></td>
					<td th:if="${#fields.hasErrors('passwordHash')}" th:errors="*{passwordHash}">Error</td>
					
				</tr>
				<tr>
				  	<td><label for="role">Role</label>
					<input type="text" id="role" th:field="*{role}"/></td>
					<td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Error</td>
				</tr>
			</table>
			<input type="submit" value="Save"></input>
		</form>
		<a href="/productlist" class="btn btn-success">Back</a>
	</div>
</body>
</html>